* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	src: url("./assets/fonts/estedad.woff2") format("woff2");
	font-family: "Estedad";
	font-weight: 500;
	font-style: normal;
}

body {
	font-family: "Estedad", sans-serif;
}

h3 {
	font-size: 1.5rem;
}

p {
	text-align: center;
	font-size: 1.1rem;
}

img {
	width: 350px;
	aspect-ratio: 1/1;
	border-radius: 5px;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-direction: column;
}

.tab {
	height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-direction: column;
	padding: 0 15px;
	animation: slideIn 0.5s ease-out forwards;
}

.tab[data-tab-active="false"] {
	position: absolute;
	pointer-events: none;
	animation: slideOut 0.5s ease-out forwards;
}

.btn {
	--color: rgb(0, 168, 76);
	font-family: inherit;
	background-color: var(--color);
	color: white;
	border: none;
	transition: opacity 0.2s ease;
	padding: 7px 15px;
	border-radius: 12px;
	font-size: 0.9rem;
}

.btn:hover {
	opacity: 0.9;
}

.gift-box {
	transition: transform 0.6s ease;
}

.gift-box[data-hidden="true"] {
	transform: scale(0);
	position: absolute;
}

.gift-box[data-hidden="false"] .btn {
	animation: slideIn 0.3s ease 2s both;
}

.gift-box[data-hidden="false"] ~ * {
	display: none;
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateY(100%);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideOut {
	from {
		opacity: 1;
		transform: translateY(0);
	}

	to {
		opacity: 0;
		transform: translateY(-100%);
	}
}
